* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-color: cadetblue;
  width: 50%;
  height: 300px;
}

h1 {
  font-size: 3rem;
}

@media screen and (min-width: 1200px) {
  main {
    background-color: red;
  }
}

@media screen and (max-width: 500px) {
  main {
    background-color: greenyellow;
  }
}
